<div class="well" >

  <div class="media-left">
    <img ng-src={{$ctrl.post.image_url}} class="media-object">
    <a ui-sref="edit({id:$ctrl.post.id})">edit</a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
       {{$ctrl.post.title}}
      |
      <a href="#" ng-click="$ctrl.increase($event, $ctrl.post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
      <a href="#" ng-click="$ctrl.decrease($event, $ctrl.post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
       {{$ctrl.post.vote_count}}
    </h4>
    <div class="text-right">
       {{$ctrl.post.author}}
    </div>
    <hr>
    <p>
       {{$ctrl.post.body}}
    </p>
    <div>
      <!-- {{post | json}} -->
      <span am-time-ago="$ctrl.post.created_at"></span>
      |
      <i class="glyphicon glyphicon-comment"></i>
      <a ng-click="$ctrl.showComment = !$ctrl.showComment">
        {{$ctrl.post.comments.length}} <ng-pluralize count="$ctrl.post.comments.length" when="{'0': 'Comments', '1': 'Comment', 'other': 'Comments'}"></ng-pluralize>
      </a>
    </div>
    <comment-component comment="$ctrl.post" ng-if="$ctrl.showComment"></comment-component>
  </div>
</div>
